{
    "folder_id": "j5gtccu1334999jghud7m",
    "source_image_family": "ubuntu-1604-lts",
    "service_account_key_file": "key.json.example",
    "zone": "ru-central1-a",
    "use_ipv4_nat": "true",
    "subnet_id": "cl44gu6fm1"
}
