cloud_id                 = "j3kh4kj3h4kjh43kj4hk"
folder_id                = "kjl34kj43kj43kj43n43"
zone                     = "ru-central1-a"
service_account_key_file = "xxxxxxxxx/key.json"
public_key_path          = "xxxxxxxxx/ubuntu.pub"
private_key_path         = "xxxxxxxxx/ubuntu"
image_id                 = "kjn34kj34kj43kjj34kk"
subnet_id                = "efkljewfl3ji434jilj4"
app_disk_image           = "rsofjsklfjsgli4lrj43"
db_disk_image            = "xxsfhkshfkfhkjfhjfhs"
environment_space        = "stage"
